body {
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:  auto;
 }
p {
    background-color:lightgrey;
    background-size: 18px 200px;
}